.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.country {
  border: 3px solid greenyellow;
  background-color: rgb(72, 175, 124);
  border-radius: 15px;
  padding: 15px;
}
.country img {
  width: 200px;
}
